<div class="jumbotron jumbotron-fluid m-0 p-0">
  <div class="container row_header">
      <div id="carouselControlsHeader" class="carousel slide carousel-fade col-md-3 " data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block" src="/assets/close_up_header.png" alt="Sri Sri Radha Rasbihri">
            </div>
            <div class="carousel-item">
              <img class="d-block" src="/assets/prabhupad_header.png" alt="Prabhupad">
            </div>
          </div>
        </div>
    <h1 class="display-4 mt-2"> <sup class="sub_sup">Sri Sri</sup> Radha Rasbihari <sub class="sub_sup">Mandir</sub></h1>
    <div id="carouselControlsHeader" class="col-md-1">
        <img class="d-block" src="/assets/logo_header.png" alt="ISKCON logo">
      </div>
  </div> 
</div>




  <nav class="navbar navbar-expand-md">
    <div class="offset-md-3">
      <button type="button" class="btn btn-dark btn-circle-home btn-lg ml-md-2"><i class="fa fa-home"></i></button>
      
      
      <div class="btn-group">
        <button type="button" class="btn btn-dark btn-circle btn-lg ml-md-4 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action
        </button>
        <div class="dropdown-menu bg-dark">
          <a class="dropdown-item" href="#"><img src="/assets/Dropdowns/krishna.jpg" alt="Prabhupad"></a>
          <a class="dropdown-item" href="#"><img src="/assets/Dropdowns/lord nityananda.jpg" alt="Prabhupad"></a>
          <a class="dropdown-item" href="#"><img src="/assets/Dropdowns/prabhupad.jpg" alt="Prabhupad"></a>
        </div>
      </div>
      
      <button type="button" class="btn btn-dark btn-circle btn-lg ml-md-4">Media</button>
      <button type="button" class="btn btn-dark btn-circle btn-lg ml-md-4">Activiities</button>
      <button type="button" class="btn btn-dark btn-circle btn-lg ml-md-4">Connect</button>
      <button type="button" class="btn btn-dark btn-circle btn-lg ml-md-4">Offer Puja</button>
      <button type="button" class="btn btn-dark btn-circle btn-lg ml-md-4 link-right">Contact</button>
      
    </div>
  </nav>



<div id="carouselControls" class="carousel slide col-md-8 mt-md-3" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block" src="/assets/Slider/rrb.JPG" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block" src="/assets/Slider/rrb3.JPG" alt="Second slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<router-outlet></router-outlet>
